A somewhat simplified dataset of a GEANT based simulation of electron-proton inelastic scattering measured by a particle detector system.

# Data processing

In [0]:
! wget 'https://drive.google.com/open?id=1d_mQpokqb598VVVexrkMVs47M4x0MLoc'

--2018-10-30 12:51:50--  https://drive.google.com/open?id=1d_mQpokqb598VVVexrkMVs47M4x0MLoc
Resolving drive.google.com (drive.google.com)... 74.125.195.101, 74.125.195.138, 74.125.195.102, ...
Connecting to drive.google.com (drive.google.com)|74.125.195.101|:443... connected.
HTTP request sent, awaiting response... 307 OK
Location: https://drive.google.com/file/d/1d_mQpokqb598VVVexrkMVs47M4x0MLoc/view?usp=drive_open [following]
--2018-10-30 12:51:51--  https://drive.google.com/file/d/1d_mQpokqb598VVVexrkMVs47M4x0MLoc/view?usp=drive_open
Reusing existing connection to drive.google.com:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘open?id=1d_mQpokqb598VVVexrkMVs47M4x0MLoc.1’

open?id=1d_mQpokqb5     [ <=>                ] 131.85K  --.-KB/s    in 0.06s

2018-10-30 12:51:51 (2.13 MB/s) - ‘open?id=1d_mQpokqb598VVVexrkMVs47M4x0MLoc.1’ saved [135017]

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('pid-5M.csv')

ParserError: ignored

In [0]:
data.head()

     id         p     theta      beta  nphe       ein      eout
0   211  0.780041  1.081480  0.989962     0  0.000000  0.000000
1   211  0.260929  0.778892  0.902450     0  0.000000  0.000000
2  2212  0.773022  0.185953  0.642428     4  0.101900  0.000000
3   211  0.476997  0.445561  0.951471     0  0.000000  0.000000
4  2212  2.123290  0.337332  0.908652     0  0.034379  0.049256

In [0]:
data.describe()

,id,p,theta,beta,nphe,ein,eout
count,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06
mean,9.941839e+02,1.230053e+00,4.889321e-01,8.995796e-01,3.575243e+00,5.635883e-02,7.033195e-02
std,9.724034e+02,7.414895e-01,2.942161e-01,1.132321e-01,1.779236e+01,7.882675e-02,1.020604e-01
min,-1.100000e+01,2.101170e-01,9.222140e-02,5.500010e-01,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.110000e+02,6.657510e-01,2.817420e-01,8.378760e-01,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.110000e+02,1.066150e+00,4.048670e-01,9.461940e-01,0.000000e+00,3.442440e-02,4.417490e-02
75%,2.212000e+03,1.649650e+00,6.117800e-01,9.855910e-01,0.000000e+00,6.834520e-02,9.365990e-02
max,2.212000e+03,5.286950e+00,2.219270e+00,1.499590e+00,3.490000e+02,8.993820e-01,1.097410e+00

In [0]:
data['id'] = data['id'].map( {-11: 'positron', 211: 'pion',321:'kaon',2212:'proton'} ).astype(str)

In [0]:
data.head()

       id         p     theta      beta  nphe       ein      eout
0    pion  0.780041  1.081480  0.989962     0  0.000000  0.000000
1    pion  0.260929  0.778892  0.902450     0  0.000000  0.000000
2  proton  0.773022  0.185953  0.642428     4  0.101900  0.000000
3    pion  0.476997  0.445561  0.951471     0  0.000000  0.000000
4  proton  2.123290  0.337332  0.908652     0  0.034379  0.049256

In [0]:
data['id'] = data['id'].map( { 'positron':0, 'pion':1,'kaon':2,'proton':3} ).astype(int)

In [0]:
data.head()

   id         p     theta      beta  nphe       ein      eout
0   1  0.780041  1.081480  0.989962     0  0.000000  0.000000
1   1  0.260929  0.778892  0.902450     0  0.000000  0.000000
2   3  0.773022  0.185953  0.642428     4  0.101900  0.000000
3   1  0.476997  0.445561  0.951471     0  0.000000  0.000000
4   3  2.123290  0.337332  0.908652     0  0.034379  0.049256

In [0]:
train_data = data.iloc[0:int(len(data)*0.7),:]
train_data.tail()

         id         p     theta      beta  nphe       ein      eout
3499995   1  0.261997  1.388530  0.903495     0  0.000000  0.000000
3499996   1  0.623789  0.491173  0.982353     0  0.044358  0.048524
3499997   3  2.925000  0.172082  0.939450     0  0.025544  0.065324
3499998   3  1.017010  0.615446  0.742975     0  0.039231  0.118196
3499999   1  0.315862  0.546411  0.916875     0  0.000000  0.000000

In [0]:
test_data = data.iloc[int(len(data)*0.7):,:]
test_data.head()

         id         p     theta      beta  nphe       ein      eout
3500000   1  0.643931  0.549808  0.985108     0  0.000000  0.000000
3500001   3  2.757920  0.230921  0.954517     0  0.284779  0.093339
3500002   1  0.675975  0.415607  0.975645     0  0.112337  0.000000
3500003   3  1.653930  0.474822  0.882879     0  0.048203  0.058778
3500004   1  0.929122  0.130140  0.984750     0  0.203067  0.000000

In [0]:
Y_train = train_data['id']
X_train = train_data.drop('id',axis=1)

In [0]:
Y_test = test_data['id']
X_test = test_data.drop('id',axis=1)

In [0]:
import tensorflow as tf
import keras
import numpy as np

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [0]:
#one-hot encoding
y_train = tf.keras.utils.to_categorical(Y_train,4)
y_test = tf.keras.utils.to_categorical(Y_test,4)

In [0]:
x_train = np.array(X_train)
x_test=np.array(X_test)
np.shape(y_train)

(3500000, 4)

# deep learning

In [0]:
import keras

In [0]:
Nin = 6
Nh = 100
number_of_class = 4
Nout = number_of_class

In [0]:
model = keras.models.Sequential()
model.add(keras.layers.Dense(Nh, activation='relu', input_shape=(Nin,)))
model.add(keras.layers.Dense(Nh, activation='relu'))
model.add(keras.layers.Dense(4, activation='softmax'))

In [0]:
model.compile(optimizer='adam',
              loss=keras.losses.categorical_crossentropy,
              metrics=['accuracy'])

In [0]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 100)               700
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_3 (Dense)              (None, 4)                 404
=================================================================
Total params: 11,204
Trainable params: 11,204
Non-trainable params: 0
_________________________________________________________________

In [0]:
history = model.fit(x_train, y_train,batch_size=500, epochs=5)

Epoch 1/5
3500000/3500000 [==============================] - 28s 8us/step - loss: 0.1620 - acc: 0.9495
Epoch 2/5
3500000/3500000 [==============================] - 27s 8us/step - loss: 0.0979 - acc: 0.9667
Epoch 3/5
3500000/3500000 [==============================] - 26s 8us/step - loss: 0.0919 - acc: 0.9680
Epoch 4/5
3500000/3500000 [==============================] - 27s 8us/step - loss: 0.0893 - acc: 0.9686
Epoch 5/5
3500000/3500000 [==============================] - 26s 7us/step - loss: 0.0877 - acc: 0.9690

In [0]:
score =model.evaluate(x_test, y_test)

1500000/1500000 [==============================] - 51s 34us/step

In [0]:
import matplotlib.pyplot as plt

In [0]:
print("손실:",score[0])

손실: 0.08921519709895799

In [0]:
print("정확도:",score[1])

정확도: 0.9685786666666667